$darkGreen: #002529;
$sacramentoStateGreen: #012f34;
$deepJungleGreen: #004047;
$midnightGreen: #014e56;
$policeBlue: #2c6269;
$raptureBlue: #79c8c7;
$lightCoral: #f67e7e;
$white: #ffffff;

$baseFontSize: rem(18px);
